<html>
<head>    
    <script src="\Scripts\jquery-3.5.1.min.js"></script>
    <script type="text/javascript">  
        $(function () {
            $("#divPhil").text("TESTE EL TESTE MI TESTES");
        });
        
        function PrimeiraFuncao() {
            var variavel = 'TIPO COLOMBIA';
            alert(variavel);
        }
    </script>
</head>
<body>
    <div id="divPhil">
        
    </div>
</body>
</html>
