<html>
<head>    
    <script src="\Scripts\jquery-3.5.1.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var texto = "<h1>MESSI VAI CHORAR HOJE</h1>";
            //$("#divPhil").text("TESTE EL TESTE MI TESTES");
           // $("#divPhil").append(texto);
        });

       
        
        function PreencherTabela() {
            var tabela = $("#tablePhil");
            tabela.empty();
            $.ajax({
                type: "GET",
                url: '/api/Clients/topclients/30/true',
                //data: {parametro:"fudeu"},
                //contentType: "application/json; charset=utf-8",
                success: function (result) {
                    alert(JSON.stringify(result));                    
                    var html = "";
                    for (i = 0; i < result.length; i++) {
                        html += "<tr><td>" + result[i].firstName + "</td></tr>";
                    }
                    tabela.append(html);
                },
                //dataType: "json"
            });
        }
    </script>
</head>
<body>
    <div id="divPhil">
        <table>
            <thead>

            </thead>
            <tbody id="tablePhil">

            </tbody>
        </table>
    </div>
</body>
</html>
